*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

li {
  list-style-type: none;
}

header, footer {
  background-color: #06D6A0;
  height: 60px;
}

/*Yes, I checked the source and realized h1 is not floated*/
nav > h1 {
  float: left;
  line-height: 60px;
  margin: 0 20px;
}

/*In the source, these are inline block,
which makes more sense than what I did.*/
nav li {
  float: right;
  line-height: 60px;
  margin-right: 10px;
}

/* ugly hack */
nav ul:last-child {
  margin-right: 20px;
}

header {
  color: white;
}

#Home {
  background-color: #26547C;
  color: white;
  overflow: auto;
}

#Home > img {
  float: left;
  width: 60%;
  margin: 0;
}

#Home > h1 {
  display: inline-block;
  width: 40%;
  margin: 0;
  padding-top: 31.125px;

}

#Cats {
  background-color: #FFD166;
}

#Products {
  background-color: #F2F2F2;
}

#About {
  background-color: #26547C;
  color: white;
}
